.venv
venv
env
ENV

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

.env
*.db
*.sqlite3

.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache

.vscode
.idea
*.swp
.DS_Store

Dockerfile
docker-compose.yml
.dockerignore