<!DOCTYPE html>
<html>
<head>
    <style>
        .button { background-color: #007bff; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; display: inline-block; }
    </style>
</head>
<body>
    <h2>Welcome to the ShopEase, {{ name }}! 🚀</h2>
    <p>Thanks for joining us. Your account is now active and ready for action.</p>
    <p>We’ve got some amazing items waiting for you in the store. Why not take a look?</p>
    <div style="margin: 30px 0;">
        <a href={{frontendUrl}}"/products" class="button">Start Shopping Now</a>
    </div>
    <p>Cheers,<br>The ShopEase Team</p>
</body>
</html>